doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width initial-scale=1")
  body

    p sd sds dddddd dsdsd s
    .hh Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet consectetur eos libero nesciunt nostrum nulla sit tempora ullam vel? Cupiditate fugiat ipsum nisi quod sapiente ullam ut vel voluptatum! Delectus.

    div Lorem ipsum dolor.
      button  кнопка 555

    img(src="../img/1.jpg")
